{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <h4 class="fw-light text--center mb-4">Pomo<span class="text--primary">doro</span></h4>
            <p class="fw-light">Fill in the fields to create an account</p>
            <form action="/register" method="post"></form>
                {{wtf.quick_form(registration_form)}}
            </form>
        </div>
        <div class="col-md-2"> </div>
    </div>
</div>
{% endblock%}