{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8 text-primary fw-light pb-5">
            <h1 class = "text-dark fw-bold">PITCH SIGN IN</h1>
            <p class="text-dark fw-bold">Fill in the fields to create an account</p>
            <form action="/register" method="post"></form>
                {{wtf.quick_form(registration_form)}}
            </form>
        </div>
        <div class="col-md-2"> </div>
    </div>
</div>
{% endblock%}